<h3>Answer your question!</h3>
<div class="col-md-8">

    <form action="question.html.twig" method="post">
            <textarea placeholder="This is an awesome comment box" rows="20" name="answer" id="answer" cols="40" class="form-group" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>

            <label class="col-md-4 control-label" for="button"></label>

            <button id="button" name="button" class="btn btn-primary">Button</button>
    </form>
</div>
