<div class= "row">    
        <form  action="/promptrs" method="post">
            {% if topic_list != null %}
                <h3>Select a topic for your promptr</h3>
                {% for topic in topic_list %}
                    <input type="radio" id="topic_id" name="topic_id" value="{{ topic.getId }}">{{ topic.getName }}<br>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <label for="promptr_name">Create a Promptr</label>
                <input id="promptr_name" name="promptr_name" type="text" placeholder="Add a Promptr name" class="form-control" required>
            </div>
            <button id="button" name="button" class="btn btn-primary">Create</button>
        </form>
</div>
