<html>
  <head>
    <meta charset="utf-8">
    <title>Promptr</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
      <div class="container">
                    {% if promptr != null %}
                        {% for question in questions %}

                            {% for answer in question.getAnswers  %}
                        <h3>    {{ question.getQuestion }} </h3>
                        <h5>    {{ answer.getAnswer }} </h5>
                            {% endfor %}
                          </div>
                        {% endfor %}

                        <form action="/promptr/{{ promptr.getId }}">
                            <button type="submit" class="btn btn-mini btn-info">Restart Promptr</button>
                        </form>
                    {% endif %}
                    <form action="/">
                        <button type="submit" class="btn btn-mini btn-info">Home</button>
                    </form>

      </div>

  </body>
</html>
