<html>
  <head>
    <meta charset="utf-8">
    <title>Promptr</title>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  </head>
  <body>
    <div class="balls">
      <div class="container">

          {% embed "forms/create_promptr_form.html.twig" %}

          {% endembed %}
          <br>

          {% embed "forms/create_topic_form.html.twig" %}

          {% endembed %}
          <br>
          </div>
          {% for promptr in promptrs %}
              <a href="/promptr/{{ promptr.getId }}">{{ promptr.getName }}</a> <br>
          {% endfor %}

           <h2><a href="/deleteAllPromptrs">delete all promptrs</a></h2>

    </div>

     
  </body>
</html>
