<html>
    <head>
        <meta charset="utf-8">
        <title>Promptrs Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
<div class="container">
<<<<<<< HEAD
{#
    {% if topic == true %}
        {{ include ('create_promptr_form.html.twig',  {topic_list: null} ) }}
    {% endif %}
#}
=======


        {% embed "forms/create_promptr_form.html.twig" %}

        {% endembed %}

>>>>>>> master
        {% for promptr in promptrs  %}
            <a href="promptr/{{ promptr.getId }}"> {{ promptr.getName }}</a>
            <br>
        {%  endfor %}
        <br>
    </div>
    </body>
</html>
