<html>
    <head>
        <title>Promptr Questions</title>
        <link rel="stylesheet" href="../css/styles.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            {% if question %}
                {{ question.getQuestion }}<br>
                {{ question.getDescription }}<br>

                {% embed "answer_form.html.twig" %}

                {% endembed %}
            {% else %}
                <h3>You have finished running through the "{{ promptr.getName }}" promptr!</h3>
                <a href="/">Start Over</a>
            {% endif %}


        </div>

    </body>
</html>
