

    <form  action="/promptr/{{ promptr.getId }}" method="post">
      <div class="row">
        <div class="form-group">
                    <label class="col-md-6 control-label" for="brand_name"><h3>Write a question</h3></label>

                    <input id="question" name="question" type="text" placeholder="Add a question" class="form-control input-md" required="">
        </div>

        <div class="form-group">
            <h2>Question Details</h2>
            <h3>Enter a description for your question - lead your brain down a path</h3>

                <textarea placeholder="This is an awesome comment box" rows="20"
                name="description" id="description" cols="20" class="ui-autocomplete-input"
                autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                </textarea>

</div>
        </div> <!-- end form group -->

                    <!-- Button -->
        <div class="form-group">
            <label class="col-md-6 control-label" for="button"></label>
            <button id="button" name="button" class="btn btn-primary">Button</button>
        </div>


    </form>
