html{
    height: 100%;
}

body {background: #F0F0F0;}
#run{
    background-color:#E86E2C !important;
    color:white;
}
#indextext{

    color:gray;
    margin-top: 4px;


}


textarea {
  margin-top: 10px;
  width: 100%;
  height:70%;
 /* margin-left: 50px;*/

  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  /*border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;*/
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Georgia",Helvetica,Arial,sans-serif;
  font-size: 1.8em;
  line-height: 1.3em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  autofocus = "on";
  text-indent: 4em;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
