<div class= "formContainer">
    <form  action="/promptrs" method="post">
        <div class="form-group">
                    <label class="col-md-4 control-label" for="brand_name">Create a Promptr</label>
                    <input id="promptr_name" name="promptr_name" type="text" placeholder="Add a Promptr name" class="form-control input-md" required="">
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="button"></label>
                        <button id="button" name="button" class="btn btn-primary">Button</button>
                      </div>
    </form>


</div>
