<form action="/create-topic" method="post">
<div class="form-group">
    <label for="topic">What topic will this promptr be under</label>
    <input class="form-control" id="topic_name" name="topic_name" type ="text">
    <br>
</div>
<button id="topic" type="submit" class="btn-md">Add Topic</button>
</form>
