<<<<<<< HEAD:views/create_promptr_form.html.twig
<div class= "row">    
        <form  action="/admin" method="post">
            {% if topic_list != null %}
                <h3>Select a topic for your promptr</h3>
                {% for topic in topic_list %}
                    <input type="radio" id="topic_id" name="topic_id" value="{{ topic.getId }}">{{ topic.getName }}<br>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <label for="promptr_name">Create a Promptr</label>
                <input id="promptr_name" name="promptr_name" type="text" placeholder="Add a Promptr name" class="form-control" required>
            </div>
            <button id="button" name="button" class="btn btn-primary">Create</button>
        </form>
=======
<div class= "formContainer">
    <form  action="/promptrs" method="post">
        <div class="form-group">
                    <label class="col-md-4 control-label" for="brand_name">Create a Promptr</label>
                    <input id="promptr_name" name="promptr_name" type="text" placeholder="Add a Promptr name" class="form-control input-md" required="">
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="button"></label>
                        <button id="button" name="button" class="btn btn-primary">Button</button>
                      </div>
    </form>


>>>>>>> master:views/forms/create_promptr_form.html.twig
</div>
