<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Create a new question</h3>
    </div>
    <div class="panel-body">
        <div class= "formContainer">
            <form  action="/promptr/{{ promptr.getId }}" method="post">



                        <div class="form-group">


                                    <input id="question" name="question" type="text" placeholder="Add a question" class="form-control input-md" required autofocus>
                        </div>

                        <div class="form-group">
                                <input type="text" placeholder="Enter a description for your question - lead your brain down a path" name="description" id="description" class="form-control input-md"></input>
                        </div> <!-- end form group -->

                                    <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="button"></label>
                            <button id="button" name="button" class="btn btn-primary">Save the Question</button>
                        </div>



            </form>


        </div>
    </div>
</div>
