<div class= "formContainer">
    <form  action="/promptr/{{ promptr.getId }}" method="post">

        <div class="form-group">
                    <label class="col-md-4 control-label" for="brand_name">Write a question</label>

                    <input id="question" name="question" type="text" placeholder="Add a question" class="form-control input-md" required autofocus>
        </div>

        <div class="form-group">
            <h3>Question Details</h3>
            <h3>Enter a description for your question - lead your brain down a path</h3>

                <input type="text" placeholder="This is an awesome comment box" name="description" id="description" class="form-control input-md"></input>


        </div> <!-- end form group -->

                    <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="button"></label>
            <button id="button" name="button" class="btn btn-primary">Save the Question</button>
        </div>


    </form>


</div>
